github "Alamofire/Alamofire"
github "SDWebImage/SDWebImage"
github "jdg/MBProgressHUD"
github "ReactiveX/RxSwift"
github "SnapKit/SnapKit"
github "CocoaLumberjack/CocoaLumberjack"
github "hackiftekhar/IQKeyboardManager"
github "SwiftKickMobile/SwiftMessages"
github "SwiftyJSON/SwiftyJSON"
github "ephread/Instructions"
github "MortimerGoro/MGSwipeTableCell"
github "HeroTransitions/Hero"
github "auth0/JWTDecode.swift"
github "jonkykong/SideMenu"
github "tapwork/WatchdogInspector"
github "Juanpe/SkeletonView"
